/*Start global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    /* color: #eee; */
    color: rgb(0, 0, 0);
    /* scroll-behavior: smooth; */
}

/* Dark theme */

:root {
    --title-color: #333;
    --body-color: #2e2e2e;
    /* --background-color: #eee; */
    --foreground-color: rgba(182, 182, 182, 0.671);
    --background-image: url("images/sitebg4lightmin.jpg");
    --blend-mode: normal;
    --header-color:  rgba(255, 255, 255, 0.308);
    --navbar-color: rgba(209, 207, 207, 0.787);
    --box-shadow: 1px 1px 15px rgba(105, 105, 105, 0.808);
    --topnav-color:   #8a8a8aed;
    --section-h1-heading: rgba(0, 0, 0, 0.623);
    --section-h1-underline-color: rgba(0, 0, 0, 0.75);
    --social-media-i-color: rgb(39, 39, 39);
    --social-media-i-color-hover: #1f1f1f5e;
    --font-color-hover: #1f1f1f5e;

    
}

/* Light theme */
.dark-theme {
    --title-color: #fff;
    --body-color: #d8d8d888;
    /* --background-color: #181621; */
    --foreground-color: #110d1d91;
    --background-image: url("images/sitebg4darkmin.jpg");
    /* --background-image2: url("images/sitebgDarkSmall.jpg"); */

    --blend-mode: lighten;
    /* animation: fadeIn ease-out 1s; */
    /* --header-color:  rgba(2, 0, 24, 0.541); */
    --header-color:  rgba(6, 4, 29, 0.541);

    --navbar-color: rgba(255, 255, 255, 0.637);
    --box-shadow: 1px 1px 15px rgba(5, 0, 0, 0.808);
    --topnav-color:   rgb(5, 4, 19);
    --section-h1-color: rgba(173, 173, 173, 0.295);
    --section-h1-underline-color: rgba(149, 149, 149, 0.75);
    --flip-card-p: rgba(255, 255, 255, 0.308);

    --social-media-i-color: rgb(156, 156, 156);
    --social-media-i-color-hover: #080808cc;
}

@font-face {
    font-family: 'The Historia Demo';
    src: url('https://endearing-blancmange-a69911.netlify.app/fonts/thehistoriademo-webfont.woff2') format('woff2'), url('https://endearing-blancmange-a69911.netlify.app/fonts/thehistoriademo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background: var(--background-image) no-repeat center fixed;

    background-size: cover;
    color: var(--body-color);
    transition: background-image 1.5s, color 1s;
}

.toggle-btn {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 87%;
    right: 3%;
    border: 1px solid var(--body-color);
    display: flex;
    cursor: pointer;
    z-index: 9999;
}

.toggle-btn i {
    margin: auto;
    font-size: 1rem;
}



section {
    padding: 6rem 0;
}

a {
    text-decoration: NONE;
    color: #eee;
    cursor: pointer;
}

p {
    font-size: 1.8rem;
    font-weight: 350;
    opacity: 1;
}

img {
    width: 100%;
}

/*End global*/

/*Start reusable*/

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    /* color: rgba(255, 255, 255, .3); */
    color: var(--section-h1-color);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    opacity: 50%;
}

.section-heading h1::before, .section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--section-h1-underline-color);
    /* background-color: rgba(255, 255, 255, 0.75); */
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    padding: 3rem;
    /* margin-right: 5rem; */
}



/* Modals */


 *, *::after, *::before {
    box-sizing: border-box;
  } 

  body .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 5px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.438);
    /* width: auto !important; */
    width: 50%;
  }
  
  .modal-body{
    opacity: 95%;

  }
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
    
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    

  }

  .modal-header .title {
    font-size: 1.25rem;
    /* font-weight: bold; */
    
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

  }

  .modal-body {
    padding: .5rem 1rem;
  }
      
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;

  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }      
  

/* End of Modals */

/*End reusable*/

/*Start header*/

header {
    width: 100%;
    height: 100vh;
    background-color: var(--header-color);
    box-shadow: var(--box-shadow);
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -150vh;
    z-index: 50;
    background-color: var(--topnav-color);
    opacity: .95;
    /* background-color: #16162d; */
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
    list-style: none;
    /* dont know wtf is going on with the width *** was 100% but was weird */
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100000;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'The Historia Demo', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover, .nav-link:focus {
    /* background: linear-gradient(to top, #ffe838, #fd57bf); */
    background: linear-gradient(to top, #a1a1a1, #545454);
    transition: 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}



/* .home{
    background-color: #949494ce;
} */

.menu-bar {
    background-color: var(--navbar-color);
    position: fixed;
    width: 100%;
    height: 7rem;
    top: 0rem;
    z-index: 100;
    box-shadow: var(--box-shadow);
}

.logo{
    color: rgba(211, 0, 0, 0.534);
    
    font-family: 'The Historia Demo', sans-serif;
    padding: 1.5rem 2rem;
    padding-left: 4rem;
    font-size: 400%;
}
.logo i:hover {
	color: var(--font-color-hover);
}

.menu-toggler {
    position: absolute;
    /* position: fixed; */
    top: 40%;
    right: 5rem;
    width: 3.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

/* 
.menu-toggler.hide{
    transform: translateY(-200%)
} */

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    /* background: linear-gradient(to right, #ffe838, #fd57bf); */
    background: linear-gradient(to right, #a1a1a1, #545454);
    width: 100%;
    height: 4px;
    opacity: .9;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 20rem;
    font-family: 'The Historia Demo', sans-serif;
    background: linear-gradient(to top, #a1a1a1, #545454);
/*    background: linear-gradient(to top, #ffe838, #fd57bf);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
}

.landing-text>.black {
    color: #000;
}

/*watch around the 44 minutes mark

https://www.youtube.com/watch?v=T7PnWnTgusc&list=PLzklIvdCw0sELWWx7U0lOEFjpHsz4Fk_M&index=6

/*End header*/

/*Start about*/

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 10rem;
    margin-left: 10rem;
}

.profile-img img {
    flex: 1;
    /* margin-right: 5rem; */
    width: 40%;
    max-width: 40rem;
    min-width: 20rem;
    filter: sepia(15%);
    text-align: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.555);
    opacity: .85;
}

.about-details {
    flex: 1;
}

/*End about*/

/*Start services*/

.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    opacity: 80%;
}

.flip-card-front-bar {
    background-color: rgba(230, 219, 219, 0.637);
    border-bottom: #000 1px;
    text-align: right;
    padding-right: 2rem;
}

.my-tools {
    justify-items: center;
    align-items: baseline;
    /* background-color: rgba(195, 195, 195, 0.315); */
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* grid-template-rows: repeat(auto-fit, max-height(20px, 1fr)); */
    grid-gap: 1rem;
    background-color: rgba(228, 214, 214, 0.185);
}
.my-tools div:nth-child(1){
    margin-top: 1rem;
}
.my-tools div:nth-child(6){
    margin-bottom: 1rem;
}
.tool {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 0rem;
    height: 6rem;

    /* box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.555); */
    border-radius: 5rem;
}

.tool>img {
    width: 15rem;
    padding: 1rem;
}

#logoNode {
    max-width: 20rem;
    min-width: 20rem;
}

.tool:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    /* border: 3px solid #ffe838; */
    border: 3px solid #a1a1a1;
    /* background-color: #fd57bf; */
    background-color: #a1a1a1;
    opacity: 60%;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
    box-shadow: 10px 0px 25px rgba(0, 0, 0, 0.555);
}

.icon-container i {
    /* color: #ffe838; */
    color: #545454;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

/*End services*/

/*Start portfolio*/

.portfolio-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* grid-template-columns: repeat(2, minmax(50px, 40vw)); */
    
    justify-items: center;
    margin-bottom: 5rem;
}
@media screen and (max-width: 1330px) {
    .portfolio-item {
        display: grid;
        grid-template-columns: repeat(2, minmax(30rem, 1fr));
        /* grid-template-columns: repeat(2, minmax(50px, 40vw)); */
        justify-items: center;
        margin-bottom: 5rem;
    }
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

/* what is this for?? */

/*this was the profile-img fix*/

/* .profile-img {
    width: 100%;
    flex: 1;
    border-radius: 5rem;
} */

.portfolio-description h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 1;
}

.cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* color: #3883ff; */
    color: #fffdfd;
    transition: color 650ms;
}

.cta:hover {
    /* color: #2f67cd; */
    color: #131313da;
}

.back-social-media {

    top: 100%;
    width: 100%;
    flex-direction: row;
    padding-top: 1rem;
}

.back-social-media i {

    padding: 0 1rem;
    font-size: 3rem;
    justify-content: center;
    transition: color 450ms;
}

.back-social-media i:hover {
    color: #00000077;
}
/*End services*/

/*Start timeline*/

.timeline ul {
    /* border-left: 4px solid #ffe838; */
    border-left: 4px solid #a1a1a1;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
    ;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before, .timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #fd56bf;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}

/*End timeline*/

/*Start contact*/


.copyright {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.137);
    /* background-color: #16162d; */
    padding: 2rem 0;
    position: relative;
}

.up {
    position: fixed;
    
    width: 3rem;
    height: 3rem;
    background-color: rgba(238, 238, 238, 0.383);
    top: 93%;
    /* top: -2.5rem; */
    /* top: 90%; */
    z-index: 49;
    right: 3%;
    border-radius: 100%;
    display: flex;
    animation: pulse 3s infinite;
    cursor: pointer;
}

.up i {
    color: #16162d;
    font-size: 1rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}

.social-media>.nav-list {
    width: 100%;
    padding: 3rem;
    flex-direction: row;
}

.social-media i {
    font-size: 4rem;
    color: var(--social-media-i-color);
    transition: color 350ms;
}

.social-media i:hover {
    color: var(--social-media-i-color-hover);
}

/*End contact*/

/*Start footer*/

/*End footer*/

/*Start animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(17, 13, 29, 0.664);
        /* box-shadow: 0 0 0 0 rgba(253, 87, 192, 0.664); */
    }
    70% {
        box-shadow: 0 0 0 1.5rem rgba(200, 257, 151, 0);
        /* box-shadow: 0 0 0 1.5rem rgba(253, 87, 191, 0); */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(253, 250, 150, 0);
        /* box-shadow: 0 0 0 0 rgba(253, 87, 191, 0); */
    }
}

/*End animations*/

/*Start media queries*/
@media screen{
	.up i {
		color: #16162d;
		font-size: 1rem;
		margin: auto;
	}
}

@media screen and (max-width: 768px) {
    /* stretch instead of fixed and adding max-height instead of nothing fixed the low-resolution issue */
    body {
        background: var(--background-image)  no-repeat center fixed;
        background-size: cover;

        max-height: 100vh;
    }
    .landing-test h1 {
        font-size: 15rem;
    }
    .landing-text h6 {
        font-size: 1.7rem;
    }
    .nav-list {
        flex-direction: row;
    }
    li {
        margin: 2rem;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    .menu-bar {
        height: 5rem;
    }
    .menu-toggler {
        top: 30%;
        right: 2rem;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .section-heading h1 {
        font-size: 3rem;
    }
    .about-details .nav-list {
        flex-direction: initial;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .icon-container {
        width: 7rem;
        height: 7rem;
    }
    .icon-container i {
        font-size: 4rem;
    }
    .timeline ul {
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        left: -20rem;
    }
    .timeline .date::after {
        left: -5.9rem;
    }
    .my-tools {
        justify-items: center;
        /* background-color: rgba(195, 195, 195, 0.315); */
        /* margin-top: 3rem; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        /* grid-template-rows: repeat(auto-fit, max-height(20px, 1fr)); */
        /* grid-gap: 2.5rem; */
    }

    .tool {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
        height: 5rem;
        /* box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.555); */
        border-radius: 5rem;
    }
    .my-tools div:nth-child(1){
        margin-top: 1rem;
    }
    .my-tools div:nth-child(6){
        margin-bottom: 1rem;
    }
    .social-media>.nav-list {
        flex-direction: row;
    }
	.up i {
		color: #16162d;
		font-size: 1rem;
		margin: auto;
	}
    .logo {
        color: rgba(34, 33, 33, 0.534);
        font-family: 'The Historia Demo', sans-serif;
        padding: 1.5rem;
        padding-left: 2rem;
        font-size: 250%;
    }
    body .modal{
        width: 80%;
    }
    

}

@media screen and (max-height: 400px) {
    .toggle-btn{
        top: 80%;
    }
}

@media screen and (max-width: 600px) {
    .landing-text h1 {
        font-size: 8rem;
    }
    .landing-text h6 {
        font-size: 1.4rem;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
		width: 60%;
    }
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description {
        margin: 0;
        order: 2;
    }
    .timeline p {
        font-size: 1.5rem;
    }
    .timeline .date::before {
        font-size: 1.4rem;
    }
    form {
        width: 100%;
    }
    /* .up {
        right: 2rem;
    } */
    .portfolio-item {
        justify-items: center;
        /* background-color: rgba(195, 195, 195, 0.315); */
        /* margin-top: 3rem; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}

.info {
    text-align: center;
}

.object-and-details {
    display: inline-block;
    position: relative;
}

summary {
    color: #fff;
    background: #000;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    border-radius: 50%;
    background-image: url("https://assets.codepen.io/128034/play_circle_filled-24px.svg");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

[open] summary {
    background-image: url("https://assets.codepen.io/128034/pause_circle_filled-24px.svg");
    box-shadow: 0 0 0 2px #fff;
    background-color: white;
}

/* for blink/webkit */

details summary::-webkit-details-marker {
    display: none;
}

/* for firefox */

details>summary:first-of-type {
    list-style: none;
}

summary+* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    padding-top: 3rem;
    /* background: #000; */
    color: #fff;
    overflow-y: auto;
}

summary+* a {
    color: #fff;
}

summary:focus {
    box-shadow: 0 0 0 0.25rem #aade87;
    outline: transparent;
}

.object-and-details1 img {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
}

/*End media queries*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 175px;
    /* box-shadow: 1px 1px 15px rgba(105, 105, 105, 0.555); */
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card p{
    color: var(--flip-card-p);
}

.right {
    align-content: flex-end;
}

.left {
    align-content: flex-start;
    width: 33%;
    padding: 1rem;
    float: left;
}

/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: rgba(187, 187, 187, 0.349);
    /* background-size: cover; */
    color: black;
    border: 1px black;
}

/* Style the back side */

.flip-card-back {
    background-color: rgba(187, 187, 187, 0.349);
    color: white;
    transform: rotateY(180deg);
}
